@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i);
body {
	margin:0;
	font-family: 'Roboto', sans-serif;
	color:$black;
	font-weight:300;
}
* {
	box-sizing:border-box;
}

.container {
	width:1400px;
	max-width:100%;
	padding:10px 20px;
	display: flex;
	flex-flow: row wrap;
	&:after {
		display: block;
		content:'';
		clear: both;
	}
}

// Typo
a {
	text-decoration:none;
}
p {
	width:100%;
}
h1 {
	font-size: $h1-font-size;
	font-weight: 900;
	color: $black;
	line-height: $h1-font-size;
	margin: 0 0 30px;
	padding: 0;
	letter-spacing: -2px;
}

// Buttons
.btn {
	display:inline-block;
	background:$primary-accent;
	color:$black;
	text-transform:uppercase;
	padding:10px;
	font-size:12px;
	letter-spacing:1px;
	transition:.2s;
	&:hover {
		opacity: .8;
	}
}